In [2]:
import pandas as pd
import numpy as np
import re
from bs4 import BeautifulSoup

In [3]:
with open('Startup.html','r',encoding='utf-8') as f:
    html=f.read()

In [76]:
soup= BeautifulSoup(html,'lxml')

In [77]:
containers = soup.find_all('article',{'class':'content-rich-text w-richtext'})

In [98]:
name=[]
for i in range(len(containers[1].find_all('h3'))):
	name.append(containers[1].find_all('h3')[i].text)

In [99]:
for i in range(len(containers[2].find_all('h3'))):
	name.append(containers[2].find_all('h3')[i].text)

In [100]:
for i in range(len(containers[3].find_all('h3')[:100])):
	name.append((containers[3].find_all('h3')[:100])[i].text)

### Company

In [104]:
#Company Name Final
company=[]
for i in name:
    i=re.sub('\d{1,3}[)]\s','',str(i))
    company.append(i)

### City

In [114]:
containers1 = soup.find_all('ul',{'role':'list'})

In [123]:
containers1[1].find_all('li')[0].text

'City: Noida'

In [127]:
containers1[299]

<ul role="list"><li>City: Bengaluru</li><li>Started in: 2016</li><li>Founders: Swapnil Saurav</li><li>Industries: Digital Entertainment, Fantasy Sports, Sports</li><li>Number of employees: 1-10</li><li>Funding amount: $7,964,767</li><li>Number of funding rounds: 3</li><li>Number of investors: 8</li></ul>

In [137]:
count=0
location=[]
for i in range(len(containers1)):
    if count<300:
        location.append(containers1[i].find_all('li')[0].text)
        count+=1

In [149]:
city=[]
for i in location:
    x= re.sub('City: ','',i)
    city.append(x)

### Started in

In [153]:
containers1[1].find_all('li')[1].text

'Started in: 2018'

In [178]:
count=0
started=[]
for i in range(len(containers1)):
    if count<300:
        started.append(containers1[i].find_all('li')[1].text)
        count+=1

In [179]:
founded=[]
for i in started:
    x= re.sub('Started in: ','',i)
    founded.append(x)

### Founders

In [168]:
containers1[1].find_all('li')[2].text

'Founders: Bhaswat Agarwal, Bikash Dash, Mukul Rustagi, Nikhil Goel, Vatsal Rustagi'

In [258]:
count=0
Founders=[]
for i in range(len(containers1)):
    if count<300:
        Founders.append(containers1[i].find_all('li')[2].text)
        count+=1

In [259]:
sub='Founders:'
b=[]
for i in Founders:
    if sub in i:
        b.append(i)
    else:
        b.append('Not Available')

In [261]:
founders=[]
for i in b:
    x= re.sub('Founders: ','',i)
    founders.append(x)

### Industries

In [263]:
containers1[1].find_all('li')[3].text

'Industries: B2B, E-Learning, EdTech, Education, Mobile Apps, SaaS, Software'

In [268]:
count=0
Industry=[]
for i in range(len(containers1)):
    if count<300:
        Industry.append(containers1[i].find_all('li')[3].text)
        count+=1

In [269]:
sub='Industries:'
b=[]
count=0
for i in Industry:
    if sub in i:
        b.append(i)
    else:
        b.append(Founders[count])
    count+=1

In [274]:
industries=[]
for i in b:
    x= re.sub('Industries: ','',i)
    industries.append(x)

### Number of Employees

In [193]:
containers1[1].find_all('li')[4].text

'Number of employees: 101-250'

In [277]:
count=0
Employee=[]
for i in range(len(containers1)):
    if count<300:
        Employee.append(containers1[i].find_all('li')[4].text)
        count+=1

In [281]:
sub='Number of employees:'
b=[]
count=0
for i in Employee:
    if sub in i:
        b.append(i)
    else:
        b.append(Industry[count])
    count+=1

In [283]:
sub = "Number of employees: "
c=[]
for i in b:
    if sub in i:
        c.append(i)
    else:
        c.append('Not Available')

In [285]:
employees=[]
for i in c:
    x= re.sub('Number of employees: ','',i)
    employees.append(x)

### Funding Amount

In [223]:
containers1[1].find_all('li')[5].text

'Funding amount: $89,506,451'

In [358]:
count=0
amount=[]
for i in range(len(containers1)):
    if count<300:
        amount.append(containers1[i].find_all('li')[5].text)
        count+=1

In [359]:
sub = "Funding amount:"
b=[]
count=0
for i in amount:
    if sub in i:
        b.append(i)
    else:
        b.append(Employee[count])
    count+=1

In [360]:
sub = "Funding amount:"
c=[]
for i in b:
    if sub in i:
        c.append(i)
    else:
        c.append('Not Available')

In [363]:
funding=[]
for i in c:
    x= re.sub('Funding amount: ','',i)
    funding.append(x)

In [ ]:
total=[]
for i in funding:
    i=i.replace(',','')
    if i.startswith('₹'):
        i=i.replace('₹','')
        i = int(i)*0.012
        i=int(i)
        total.append(i)
    elif i.startswith('$'):
        i=i.replace('$','')
        i=int(i)
        total.append(i)
    else:
        total.append(0)

### Funding Rounds

In [303]:
containers1[299].find_all('li')[6].text

'Number of funding rounds: 3'

In [508]:
count=0
Rounds=[]
for i in range(len(containers1)):
    try:
        if count<300:
            Rounds.append(containers1[i].find_all('li')[6].text)
    except:
        if count<300:
            Rounds.append('Not Available')
    count+=1

In [509]:
sub = "Number of funding rounds:"
b=[]
count=0
for i in Rounds:
    if sub in i:
        b.append(i)
    else:
        b.append(amount[count])
    count+=1

In [510]:
sub = "Number of funding rounds:"
c=[]
for i in b:
    if sub in i:
        c.append(i)
    else:
        c.append('0')

In [511]:
rounds=[]
for i in c:
    x= re.sub('Number of funding rounds: ','',i)
    rounds.append(x)

### Number of Investors

In [372]:
containers1[299].find_all('li')[7].text

'Number of investors: 8'

In [498]:
count=0
Investors=[]
for i in range(len(containers1)):
    try:
        if count<300:
            Investors.append(containers1[i].find_all('li')[7].text)
    except:
        if count<300:
            Investors.append('Not Available')
    count+=1

In [499]:
sub = "Number of investors:"
b=[]
count=0
for i in Investors:
    if sub in i:
        b.append(i)
    else:
        b.append(Rounds[count])
    count+=1

In [500]:
sub = "Number of investors:"
c=[]
for i in b:
    if sub in i:
        c.append(i)
    else:
        c.append('0')

In [501]:
investors=[]
for i in c:
    x= re.sub('Number of investors: ','',i)
    investors.append(x)

### Description

In [591]:
p1=[]
for i in range(len(containers[1].find_all('p'))):
    x=containers[1].find_all('p')[i]
    p1.append(x)

In [592]:
p2=[]
for i in range(len(containers[2].find_all('p'))):
    x=containers[2].find_all('p')[i]
    p2.append(x)

In [608]:
p3=[]
for i in range(len(containers[3].find_all('p'))):
    x=containers[3].find_all('p')[i]
    p3.append(x)
p3=p3[:397]

In [594]:
desc = []
count=0
for i in range(len(p1)):
    if i==count:
        desc.append(p1[count])
        count+=4

In [595]:
count=0
for i in range(len(p2)):
    if i==count:
        desc.append(p2[count])
        count+=4

In [610]:
count=0
for i in range(len(p3)):
    if i==count:
        desc.append(p3[count])
        count+=4

In [620]:
description=[]
for i in desc:
    i=re.sub('<p>','',str(i))
    i=re.sub('<br/></p>','',str(i))
    description.append(i)

### DataFrame

In [623]:
df= pd.DataFrame({
    'Company': company,
    'City': city,
    'Starting Year': founded,
    'Founders': founders,
    'Industries':industries,
    'Description': description,
    'No. of Employees': employees,
    'Funding Amount in $': total,
    'Funding Round' : rounds,
    'No. of Investors': investors
    
})

In [624]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Company              300 non-null    object
 1   City                 300 non-null    object
 2   Starting Year        300 non-null    object
 3   Founders             300 non-null    object
 4   Industries           300 non-null    object
 5   Description          300 non-null    object
 6   No. of Employees     300 non-null    object
 7   Funding Amount in $  300 non-null    int64
 8   Funding Round        300 non-null    object
 9   No. of Investors     300 non-null    object
dtypes: int64(1), object(9)
memory usage: 23.6+ KB

In [625]:
df['No. of Investors']=df['No. of Investors'].astype('int64')

In [626]:
df['Funding Round']=df['Funding Round'].astype('int64')

In [627]:
df['Starting Year']=df['Starting Year'].astype('int64')

In [628]:
df

,Company,City,Starting Year,Founders,Industries,Description,No. of Employees,Funding Amount in $,Funding Round,No. of Investors
0,Urban Company,Gurgaon,2014,"Abhiraj Singh Bhal, Raghav Chandra, Varun Khaitan","Apps, Home Services, Marketplace, Service Indu...",Urban is a marketplace for independent contrac...,1001-5000,445920356,12,16
1,Classplus,Noida,2018,"Bhaswat Agarwal, Bikash Dash, Mukul Rustagi, N...","B2B, E-Learning, EdTech, Education, Mobile App...",Classplus is a mobile-first SaaS platform that...,101-250,89506451,10,20
2,Paytm,Noida,2010,"Akshay Khanna, Vijay Shekhar Sharma","E-Commerce, Finance, Financial Services, Inter...",Paytm is a payment gateway that allows users a...,501-1000,32448851,4,4
3,Apna,Mumbai,2019,Nirmit Parikh,"Employment, Human Resources, Recruiting, Staff...",Apna is a professional networking and job-sear...,101-250,93450000,4,6
4,Razorpay,Bengaluru,2014,"Harshil Mathur, Shashank Kumar","Financial Services, FinTech, Payments, Software","Razorpay is a payment acceptance, processing, ...",1001-5000,366600000,7,29
...,...,...,...,...,...,...,...,...,...,...
295,SafexPay,Thane,2017,Ravi Gupta,"FinTech, Payments",Safexpay is a B2B2B finance company that speci...,51-100,5280000,1,2
296,Pariksha,Pune,2015,"Deepak Choudhary, Karanvir Singh Shekhawat, Ut...","E-Learning, EdTech, Education, Skill Assessment",Pariksha - The Success App is India's leading ...,51-100,6065079,7,20
297,Fyllo,Bengaluru,2019,"Sachin Gautam, Sudhanshu Rai, Sumit Sheoran","Agriculture, AgTech, Artificial Intelligence, ...",Fyllo is a precision agriculture service provi...,11-50,557033,4,6
298,CredFlow,New Delhi,2019,Kunal Aggarwal,"Credit, Financial Services",CredFlow offers financial services that help y...,1-10,1824000,1,4
299,HalaPlay Technologies,Bengaluru,2016,Swapnil Saurav,"Digital Entertainment, Fantasy Sports, Sports",HalaPlay Technologies is a platform for daily ...,1-10,7964767,3,8

In [630]:
df.to_csv('Startups1.csv')